Sistema Solar MINIPROJETO/Library
Sistema Solar MINIPROJETO/Logs
Sistema Solar MINIPROJETO/obj
Sistema Solar MINIPROJETO/Packages
Sistema Solar MINIPROJETO/Temp
Sistema Solar MINIPROJETO/UserSettings
Sistema Solar MINIPROJETO/.vs
Sistema Solar MINIPROJETO/.vsconfig
Sistema Solar MINIPROJETO/Assets/SpaceSkies Free